
<!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    {% for obj in most_recent %}
                    <article class="col-block popular__post">
                        <a href="{{obj.get_absolute_url}}" class="popular__thumb">
                            <img src="{{ obj.thumbnail.url }}" alt="">
                        </a>
                        <h5>{{obj.title}}</h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0">{{ obj.author }}</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2018-06-12">{{ obj.timestamp|date}}</time></span>
                        </section>
                    </article>
                    {% endfor %}
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Categories</h3>
        
                        <ul class="linklist">
                            {% for cat in all_cats %}
                            <li><a href="#0">{{ cat }}</a></li>
                            {% endfor %}
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Links</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/categories">Categories</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-extra -->